* 
{
	padding:0px;
	margin:0px;
}

#header 
{
	margin: auto;
	width: 500px;
	font-family: Verdana, Geneva, Tahoma, sans-serif
}

ul
{
	list-style:none;
}

.nav li a
{
	font-weight: bold;
	border: 1px outset #00A4BD;   
	color: #2D3E50;
	background-color: #EAF0F6;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
}

.nav li a:hover 
{
	background-color:#434343;
}

.nav > li 
{
	float: left;
}

.nav li ul
{
	display:none;
	position:absolute;
	min-width:140px;
}

.nav li:hover > ul
{
	display:block;
}
